<!DOCTYPE html>
<html lang="en">
  <%- include('../layouts/head.ejs'); -%>
  <body>
    <%- include('../layouts/header.ejs'); -%>
    <h1>Title</h1>
    <p>My page</p>
    <%- include('../layouts/footer.ejs'); -%>
  </body>
</html>
